@model carto.Models.CmdbItem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@Html.Partial("PartialDetails")

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Delete", "Delete", new { id=Model.Id }) |
    @Html.ActionLink("Back to Inventory", "Index")
</p>
