@model QuickGraph.BidirectionalGraph<carto.Models.CmdbItem, carto.Models.CmdbDependency>

@{
    ViewBag.Title = "Application Inventory";
}

<link href="~/Content/graph.css" rel="stylesheet"/>

<ul data-bind="foreach: graphs">
    <li>
        <button data-bind="title: description, text: name, click: $root.selectGraph"></button>
    </li>
</ul>

<div id="container" style="width: 100%">
    <button data-bind="click: loadGraph">Filter</button>
    <input type="text" data-bind="value: filter" />
    <svg class="graph">
        <defs>
            <marker id="end-arrow" viewBox="0 -5 10 10" refX="6" markerWidth="3" markerHeight="3" orient="auto">
                <path d="M0,-5L10,0L0,5" fill="#999" />
            </marker>
        </defs>
        <path class="link dragline hidden" d="M0,0L0,0" />
    </svg>
</div>

<aside data-bind="if: selectedItem">
    <p> Id: <!--ko text: selectedItem().id--><!--/ko--> -v.<!--ko text: selectedItem().version--><!--/ko-->  </p>
    <p>Name:
        <input data-bind="value: selectedItem().name" /></p>
    <p>Description:
        <input data-bind="value: selectedItem().description" /></p>
</aside>

<aside data-bind="if: selectedLink">
    <p> Id: <!--ko text: selectedLink().id--><!--/ko--> -v.<!--ko text: selectedLink().version--><!--/ko-->  </p>
    <p>Source:
        <span data-bind="text: selectedLink().source.name" /></p>
    <p>Target:
        <span data-bind="text: selectedLink().target.name" /></p>
</aside>

<p data-bind="if: selectedGraph">
<a data-bind="attr: { href: '/Inventory/Report/' + selectedGraph().id }">Report</a>
    </p>

    <script src="/Scripts/jquery.signalR-2.0.0.js"></script>
    <script src="/signalr/hubs"></script>

<script src="/Scripts/graph.js"></script>
