svg
{
    background-color: white;
}

    svg.ctrl
    {
        cursor: crosshair;
    }

.overlay
{
    fill: none;
    pointer-events: all;
}

.node
{
    fill: orange;
    cursor: pointer;
}

    .node.selected > circle
    {
        stroke: navy;
        stroke-width: 4px;
    }

path.link
{
    fill: none;
    stroke: #999;
    stroke-width: 4px;
    marker-end: url(#end-arrow);
    cursor: default;
}

    path.link.selected
    {
        stroke-dasharray: 10,2;
    }

    path.link.dragline
    {
        pointer-events: none;
    }

    path.link.hidden
    {
        stroke-width: 0;
    }

text.label
{
    fill: black;
    font-weight: normal;
    /*text-anchor: middle;*/
}

.Desktop > circle
{
    fill: lightblue;
}

.Service > circle
{
    fill: lightgreen;
}

.panel {
    background-color: lightblue;
    opacity: 0.7;
    position: absolute;
    margin: 5px;
}